export(gather)
export(get.es)
export(get.rh)
export(get.vpd)
export(ibis.hist)
export(info.ibis.nc)
export(load.ibis.nc)
export(ncep2dt)
export(panel.cor)
export(plotmap)
export(sd.var)
export(wide2long)
